<section>
  <h3>Dashboard</h3>
  <div class="widget-container">
    <div class="widget">
      <h2>Widget</h2>
    </div>
    <div class="widget">
      <h2>Widget</h2>
    </div>
    <div class="widget">
      <h2>Widget</h2>
    </div>
  </div>
  <div class="widget-container">
    <div class="widget">
      <h2>Widget</h2>
    </div>
    <div class="widget">
      <h2>Another widget</h2>
    </div>
  </div>
  <div class="widget-container">
    <div class="widget">
      <h2>Oh boy more widgets</h2>
    </div>
    <div class="widget">
      <h2>Cat meme widget</h2>
    </div>
  </div>
</section>
