.widget-container {
  display: flex;
}

.widget {
  border: 1px solid gray;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
